<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        
        <div class="form-group">
          <label for="typeahead-focus">BaneQL Query:</label>
          <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Wikipedia search" />
          <span *ngIf="searching">searching...</span>
          <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>